body {
    background-image: url('../Images/loginBG.jpg');
    background-size: cover;
    background-color: #f2f2f2; 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
}

.container {
    background-color: #ffffff; /* White background for the container */
    border-radius: 10px; /* Rounded corners */
    max-width: 1200px; /* Max width for the container */
    margin: 20px auto; /* Center the container with margin at the top and bottom */
    padding: 30px; /* Padding around the container */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border: 5px solid #c0e8ffb2; 
}

header {
    background-color: #007bff;
    color: white; 
    padding: 20px; 
    border-radius: 8px; 
    text-align: center; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
}

nav ul li {
    display: inline; 
    margin: 0 15px; 
}

nav ul li a {
    color: white; 
    font-size: larger;
    text-decoration: none; 
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin-top: 20px; 
}

h2 {
    margin-bottom: 20px; 
    color: #333; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], textarea, input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: vertical;  
}

button[type="submit"] {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}

footer {
    text-align: center; 
    margin-top: 20px; 
    color: #777; 
}